/* circle, square, upper-roman, lower-alpha*/
ul li:first-child {
    list-style: decimal-leading-zero;
    list-style-position: inside;
    font-size: 18px;
    margin-bottom: 5px;

}

ul li:last-child {
    list-style: upper-alpha;
    font-size: 18px;
}

table,
td,
th {
    border: 1px solid #383838;
    text-align: left;
}

td,
th {
    padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse
}
h2 {
    text-align: center;
    display: inline-block;
}
.n1 {
    border: 3px solid #22b0e5;
    width: 550px;
    margin: 0 auto;
}
.n2 {
    border: 3px solid #b611dd;
    max-width: 550px;
    margin: 0 auto;
}