*{
    margin: 0;
    padding: 0;
    outline: 0;
}

a {
    text-decoration: none;
}

ul,ol {
    list-style: none;
}

.main-menu ul li {
    float: left;
    position: relative;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -ms-transition: all linear .5s;
}

.main-menu {
    height: 60px;
    background: red;
}
.main-menu ul li a {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    font-family: sans-serif;
    line-height: 60px;
    padding: 0px 10px;
    display: block;
}

.main-menu ul li:hover {
    background: blue;
}

.main-menu ul li ul {
    position: absolute;
    left: 0;
    background: #73e564;
    width: 200px;
    text-align: center;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -ms-transition: all linear .5s;
    visibility: hidden;
    opacity: 0;
}

.main-menu ul li ul li{
    width: 100%;
}

.main-menu ul li:hover > ul {
    visibility: visible;
    opacity: 1;
}

.main-menu ul li ul li ul {
    left: 100%;
    top: 0;
}

.main-menu ul li:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 0%;
    height: 4px;
    background: #e3ea3b;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -ms-transition: all linear .5s;
}

.main-menu ul li:hover:after {
    width: 100%; 
}

.main-menu ul li:before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 0%;
    height: 4px;
    background: #e3ea3b; 
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -ms-transition: all linear .5s;
}

.main-menu ul li:hover:before {
    width: 100%; 
}
.ifte_menu {
    background: #221f1f;
    overflow: hidden;
}
ul.ifte_menu li {
    float: left;
}
ul.ifte_menu li a {
    color: #ffff;
    text-transform: capitalize;
    padding: 12px 16px;
    display: inline-block;
}
ul.ifte_menu li a:hover {
    background: #ff5959;
}
.dropdown .dropdown-content{
    display: none;
    position: absolute;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.32);
    min-width: 200px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown .dropdown-content a {
    display: block;
    color: #2a2020;
    background: #ffffff;
    text-align: center;
}
.dropdown .dropdown-content a:hover{
    background: #f1f1f1;
}